<h1>Bienvenido !</h1>

<br>

<p>Je suis le grand KAMINAAAA !!! Suis-moi et nous vivrons de grande aventures ensembles</p>

<br>

<%= link_to 'Home', root_path %>
<%= link_to 'About', page_about_path %>
<%= link_to 'Articles', articles_path %>